# WEB SCRAPING (Using Selenium)

In [2]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data. 
This task will be done in following steps: 
1. First get the webpage https://www.naukri.com/ 2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field. 
3. Then click the search button. 
4. Then scrape the data for the first 10 jobs results you get. 
5. Finally create a dataframe of the scraped data.

In [2]:
driver=webdriver.Chrome(r"C:/Users/91976/Downloads/chromedriver_win32/chromedriver") 
time.sleep(4)

url = "https://www.naukri.com/"
driver.get(url)
time.sleep(6)

# entering “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
search_field_designation=driver.find_element_by_id("qsb-keyword-sugg") #job search bar
search_field_location=driver.find_element_by_id('qsb-location-sugg') #location search bar
search_field_designation.send_keys("Data Analyst")
search_field_location.send_keys("Bangalore")


# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()


time.sleep(4)
# creating empty lists for scraping data
job_title=[]
job_location=[]
company_name=[]
experience_required=[]


#scraping the job-titles
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)

time.sleep(4)
#scraping the job-location
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
        
time.sleep(4)        
#scraping the company_name 
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
company_name[0:2]


time.sleep(4)
#scraping the experience_required 
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience:
    if i.text is None :
            experience_required.append("--") 
    else:
            experience_required.append(i.text)


time.sleep(4)
# creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"experience_required":experience_required[0:10],"company_name":company_name[0:10],"job_location":job_location[0:10],
                "job_title":job_title[0:10]})
df

<ipython-input-2-5d79736bd70a>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:/Users/91976/Downloads/chromedriver_win32/chromedriver")
<ipython-input-2-5d79736bd70a>:9: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_field_designation=driver.find_element_by_id("qsb-keyword-sugg") #job search bar
<ipython-input-2-5d79736bd70a>:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_field_location=driver.find_element_by_id('qsb-location-sugg') #location search bar
<ipython-input-2-5d79736bd70a>:16: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
<ipython-input-2-5d79736bd70a>:29: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
<ipython-input-2-5d79736bd70a>:38: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
<ipython-input-2-5d79736bd70a>:47: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
<ipython-input-2-5d79736bd70a>:58: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

,experience_required,company_name,job_location,job_title
0,0-3 Yrs,Flipkart,Bangalore/Bengaluru(Bellandur),Data Analyst - Flipkart Analytics
1,1-6 Yrs,(3776 Reviews),Bangalore/Bengaluru\n(WFH during Covid),Urgent Openings For Data Analyst / Business An...
2,3-8 Yrs,Flipkart,Bangalore/Bengaluru,Business Data Analyst(BigId) - Capco - Bangalore
3,6-11 Yrs,(3776 Reviews),Bangalore/Bengaluru,Senior Data Analyst
4,3-8 Yrs,Capco Technologies Pvt Ltd,Bangalore/Bengaluru,Sr Data Analyst
5,2-5 Yrs,(108 Reviews),Bangalore/Bengaluru,Business Data Analyst - Database Design/Mining
6,3-6 Yrs,Pioneer Business Solutions,"Bangalore/Bengaluru, Mumbai (All Areas)",Opportunity For Business Data Analyst
7,6-11 Yrs,Pioneer Business Solutions,Bangalore/Bengaluru,Software Technologist II - Data Analyst
8,4-9 Yrs,AugmatrixGo,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Hiring For Data Analyst - Payment System Intel...
9,4-6 Yrs,Botree Software International Private Limited,Bangalore/Bengaluru\n(WFH during Covid),Lead / Senior Data Analyst

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. 
This task will be done in following steps: 
1. First get the webpage https://www.naukri.com/ 2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field. 
3. Then click the search button. 
4. Then scrape the data for the first 10 jobs results you get. 
5. Finally create a dataframe of the scraped data

In [3]:
driver=webdriver.Chrome(r"C:/Users/91976/Downloads/chromedriver_win32/chromedriver") 
time.sleep(4)

url = "https://www.naukri.com/"
driver.get(url)
time.sleep(6)

# entering “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.

search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")   #job search bar
search_field_location=driver.find_element_by_id('qsb-location-sugg')  #location search bar
search_field_designation.send_keys("Data Scientist")
search_field_location.send_keys("Bangalore")


# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()


time.sleep(4)
# creating empty lists for scraping data
job_title=[]
job_location=[]
company_name=[]
full_job_description=[]


#scraping the job-titles
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)

time.sleep(4)
#scraping the job-location
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
        
time.sleep(4)        
#scraping the company_name 
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)

# scraping the full job-description, for scraping full job description we have to go in each of the jobs separately
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")]
for url in urls[0:10]:
    try:
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//section[@class='job-desc']/div[1]").text
        description=raw_description.replace("Contact Person","@@@@@")
        description= description.split("@@@@@")
        full_job_description.append(description[0])
    except NoSuchElementException :
        full_job_description.append("---")
        
        
 # creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"job_title":job_title[0:10],"company_name":company_name[0:10],"job_location":job_location[0:10],
                "job_description":full_job_description[0:10]})
df

<ipython-input-3-4dd3da40d0cf>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:/Users/91976/Downloads/chromedriver_win32/chromedriver")
<ipython-input-3-4dd3da40d0cf>:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")   #job search bar
<ipython-input-3-4dd3da40d0cf>:11: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_field_location=driver.find_element_by_id('qsb-location-sugg')  #location search bar
<ipython-input-3-4dd3da40d0cf>:17: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
<ipython-input-3-4dd3da40d0cf>:30: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
<ipython-input-3-4dd3da40d0cf>:39: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
<ipython-input-3-4dd3da40d0cf>:48: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
<ipython-input-3-4dd3da40d0cf>:56: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")]
<ipython-input-3-4dd3da40d0cf>:61: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  raw_description=driver.find_element_by_xpath("//section[@class='job-desc']/div[1]").text

,job_title,company_name,job_location,job_description
0,Forecasting Analyst/ Data Scientist (US Client),Concentrix Daksh Services,"Gurgaon/Gurugram, Bangalore/Bengaluru",Roles and Responsibilities\nThe person will be...
1,Data Scientist,(10230 Reviews),Bangalore/Bengaluru,---
2,Senior Data Scientist,Oracle India Pvt. Ltd.,Bangalore/Bengaluru,Kwalee is one of the world's leading multiplat...
3,Senior Data Scientist,(2049 Reviews),Bangalore/Bengaluru(Sadashiva Nagar),"Roles and Responsibilities\nPhD in Statistics,..."
4,Senior Data Scientist | Fortune 500 Supermarke...,Kwalee India Pvt Ltd.,Bangalore/Bengaluru,Work Experience:\n~2+ years of relevant experi...
5,Data Scientist,Convergence Infotech Ltd,Bangalore/Bengaluru,Essential Functions\nServe as an analytics exp...
6,Lead Data Scientist,(8 Reviews),"Mumbai, Pune, Bangalore/Bengaluru","5+ years of experience as a data scientist, ap..."
7,Lead Data Scientist,TALENT500 TECH (INDIA) PRIVATE LIMITED,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Roles and Responsibilities\n\nWell-versed in q...
8,Senior Data Scientist / Tech Lead - SQL / Pyth...,Visa,"Pune, Chennai, Bangalore/Bengaluru",Responsibilities :\n\n- Lead a team of data sc...
9,Senior / Lead Data Scientist,(37 Reviews),"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Requirement:\nWe are looking for an experience...

Q3: In this question you have to scrape data using the filters available on the webpage as shown below: 

You have to use the location and salary filter. 
You have to scrape data for “Data Scientist” designation for first 10 job results. 
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs 
The task will be done as shown in the below steps: 
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field. 
3. Then click the search button. 
4. Then apply the location filter and salary filter by checking the respective boxes 
5. Then scrape the data for the first 10 jobs results you get. 
6. Finally create a dataframe of the scraped data.

In [ ]:
driver=webdriver.Chrome(r"C:/Users/91976/Downloads/chromedriver_win32/chromedriver") 
time.sleep(4)

url = "https://www.naukri.com/"
driver.get(url)
time.sleep(6)

# entering “Data Scientist” in “Skill,Designations,Companies” field

search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")   #job  search bar
search_field_designation.send_keys("Data Scientist")

# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()


# creating empty lists for scraping data
job_title=[]
job_location=[]
company_name=[]
experience_required=[]


time.sleep(3)
#finding the delhi/ncr check box
loc=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]/label/p")
loc.click()

time.sleep(2)
# finding the salary check box
slry_box = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/p")
slry_box.click()

time.sleep(3)
#scraping the job-titles
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)
        

time.sleep(3)
#scraping the job-location
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
        

time.sleep(3)
#scraping the company_name 
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
        

time.sleep(3)
#scraping the experience_required 
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience:
    if i.text is None :
            experience_required.append("--") 
    else:
            experience_required.append(i.text)
            
time.sleep(3)            
 # creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"job_title":job_title[0:10],"experience_required":experience_required[0:10],"company_name":company_name[0:10],
                 "job_location":job_location[0:10]})


df

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 
1. Brand 
2. Product Description 
3. Price 
The attributes which you have to scrape is ticked marked in the below image

In [6]:
driver=webdriver.Chrome(r"C:/Users/91976/Downloads/chromedriver_win32/chromedriver") 
time.sleep(3)

url = "https://www.flipkart.com/"
driver.get(url)

time.sleep(2)
#locating the search bar
search_bar=driver.find_element_by_class_name("_3704LK")
search_bar.send_keys('sunglasses')

time.sleep(2)
#locating the button and clicking it toh search for sunglasses
button=driver.find_element_by_class_name('L0Z3Pu')
button.click()


#creating the empty list
brand=[]
description=[]
price=[]
discount=[]


time.sleep(3)
#scrapping the required details
start=0
end=3
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements_by_class_name('_2WkVRV')#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    desc=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')#scraping description from the xpath
    for i in desc:
        description.append(i.text)#appending the description in list
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")# scraping the price from the xpath
    for i in prices:
        price.append(i.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))

<ipython-input-6-5ff3155d8002>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:/Users/91976/Downloads/chromedriver_win32/chromedriver")
<ipython-input-6-5ff3155d8002>:9: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_bar=driver.find_element_by_class_name("_3704LK")
<ipython-input-6-5ff3155d8002>:14: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  button=driver.find_element_by_class_name('L0Z3Pu')
<ipython-input-6-5ff3155d8002>:30: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brands=driver.find_elements_by_class_name('_2WkVRV')#scraping brands name by class name='_2WkVRV'
<ipython-input-6-5ff3155d8002>:33: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  desc=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')#scraping description from the xpath
<ipython-input-6-5ff3155d8002>:36: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")# scraping the price from the xpath
<ipython-input-6-5ff3155d8002>:39: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page

In [7]:
#scrapping all product Url
product_url = []
start=0
end=3
for page in range(start,end):#for loop for scrapping 4 page
    url=driver.find_elements_by_xpath("//a[@class='_2UzuFa']")
    for i in url:
        product_url.append(i.get_attribute('href'))
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))     #getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        

# scraping discount from each product url
for product in product_url:
    driver.get(product)
    try:
        disc=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[3]/div/div[3]/div[1]/div/div[3]/span")# scraping the discount from the absolute xpath
        discount.append(disc.text)
    except NoSuchElementException:
        discount.append("No Discount")

<ipython-input-7-1dfc37f6b604>:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  url=driver.find_elements_by_xpath("//a[@class='_2UzuFa']")
<ipython-input-7-1dfc37f6b604>:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
<ipython-input-7-1dfc37f6b604>:20: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  disc=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[3]/div/div[3]/div[1]/div/div[3]/span")# scraping the discount from the absolute xpath

In [8]:
#creating a dataframe
df=pd.DataFrame({'Brand':brand,
                'Description':description,
                'Price':price,
                'Discount':discount})
#printing dataframe
df

,Brand,Description,Price,Discount
0,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,085",No Discount
1,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,No Discount
2,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...",₹276,No Discount
3,Elligator,UV Protection Round Sunglasses (54),₹248,No Discount
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹513,No Discount
...,...,...,...,...
115,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,No Discount
116,PHENOMENAL,UV Protection Round Sunglasses (53),₹249,No Discount
117,SUNBEE,"UV Protection, Polarized, Mirrored Retro Squar...",₹258,No Discount
118,Cruze,UV Protection Aviator Sunglasses (Free Size),₹499,No Discount
119,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹509,No Discount

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC 
TSVZAXUHGREPBFGI&marketplace. When you will open the above link you will reach to the below shown webpage .

 you have to scrape the tick marked attributes. These are: 
1. Rating 
2. Review_summary 
3. Full review 
4. You have to scrape this data for first 100 reviews.

In [9]:
driver=webdriver.Chrome(r"C:/Users/91976/Downloads/chromedriver_win32/chromedriver") 
time.sleep(3)

url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

# Creating empty list
urls=[]
short_review=[]
complete_review=[]
stars=[]
time.sleep(2)

#scraping 10 pages url
url_1 = driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
for i in url_1:
    urls.append(i.get_attribute('href'))
url_2 = driver.find_elements_by_xpath("//a[@class='ge-49M']")
for i in url_2:
    urls.append(i.get_attribute('href'))
time.sleep(4)


for i in urls:
    driver.get(i)
    #for scrapping the number of stars
    for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        stars.append(j.text)
    #for scrapping the short review
    for k in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        short_review.append(k.text)
    #for scrapping the complete review
    for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        complete_review.append(l.text)
        
        
        
#Combining all the lists into a single dataframe
df=pd.DataFrame({'Number of Stars': stars,
                'Short Review': short_review,
               'Full Review': complete_review})
df

<ipython-input-9-92fea0b27ebe>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:/Users/91976/Downloads/chromedriver_win32/chromedriver")
<ipython-input-9-92fea0b27ebe>:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  url_1 = driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
<ipython-input-9-92fea0b27ebe>:20: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  url_2 = driver.find_elements_by_xpath("//a[@class='ge-49M']")
<ipython-input-9-92fea0b27ebe>:29: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
<ipython-input-9-92fea0b27ebe>:32: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for k in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
<ipython-input-9-92fea0b27ebe>:35: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):

,Number of Stars,Short Review,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Super!,This is my first ever iPhone.\nAnd I truly don...
96,5,Just wow!,The ultimate performance\nCamera is superb\nTh...
97,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
98,5,Awesome,The phone is completely good\nAs far as camera...
99,3,Decent product,Everything u ll like it when u use this iPhone...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field. 
You have to scrape 4 attributes of each sneaker: 
1. Brand 
2. Product Description 
3. Price 
You have to scrape the tick marked attributes.

In [11]:
driver=webdriver.Chrome(r"C:/Users/91976/Downloads/chromedriver_win32/chromedriver") 
time.sleep(3)

url = "https://www.flipkart.com/"
driver.get(url)

time.sleep(2)
#close log_in window
log_in_pop_up = driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
log_in_pop_up.click()

time.sleep(2)
#locating the search bar
search_bar=driver.find_element_by_class_name("_3704LK")
search_bar.clear()
search_bar.send_keys('sneakers')

time.sleep(2)
#locating the button and clicking it to search for sneakers
button=driver.find_element_by_class_name('L0Z3Pu')
button.click()


#creating the empty list
brand=[]
description=[]
price=[]
discount=[]


time.sleep(3)
#scrapping the required details
start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements_by_class_name('_2WkVRV')#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")# scraping the price from the xpath
    for i in prices:
        price.append(i.text)
    disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")# scraping the discount from the xpath
    for i in disc:
        discount.append(i.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
        
        
time.sleep(2)        
# Since in some records not getting description so try from inside of urls
urls = []

for page in range(0,4):#for loop for scrapping 4 page
    
    product_url = driver.find_elements_by_xpath("//a[@class='_2UzuFa']")
    for i in product_url:
        urls.append(i.get_attribute('href'))
    
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
time.sleep(2)        
for i in urls:
    driver.get(i)
    desc=driver.find_elements_by_xpath('//span[@class="B_NuCI"]')#scraping description from the xpath
    for i in desc:
        description.append(i.text)#appending the description in list
time.sleep(2)        
time.sleep(3)        
#creating a dataframe
df=pd.DataFrame({'Brand':brand[:100],
                'Description':description[:100],
                'Price':price[:100],
                'Discount':discount[:100]})
#printing dataframe
df

<ipython-input-11-7fa8e78039a3>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:/Users/91976/Downloads/chromedriver_win32/chromedriver")
<ipython-input-11-7fa8e78039a3>:9: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  log_in_pop_up = driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
<ipython-input-11-7fa8e78039a3>:14: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_bar=driver.find_element_by_class_name("_3704LK")
<ipython-input-11-7fa8e78039a3>:20: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  button=driver.find_element_by_class_name('L0Z3Pu')
<ipython-input-11-7fa8e78039a3>:36: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brands=driver.find_elements_by_class_name('_2WkVRV')#scraping brands name by class name='_2WkVRV'
<ipython-input-11-7fa8e78039a3>:39: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")# scraping the price from the xpath
<ipython-input-11-7fa8e78039a3>:42: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")# scraping the discount from the xpath
<ipython-input-11-7fa8e78039a3>:45: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
<ipython-input-11-7fa8e78039a3>:59: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  product_url = driver.find_elements_by_xpath("//a[@class='_2UzuFa']")
<ipython-input-11-7fa8e78039a3>:63: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
<ipython-input-11-7fa8e78039a3>:72: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  desc=driver.find_elements_by_xpath('//span[@class="B_NuCI"]')#scraping description from the xpath

,Brand,Description,Price,Discount
0,RapidBox,Sneakers For Men (Red),₹560,43% off
1,Echor,Turino FSL Sneakers For Men (White),₹699,58% off
2,Numenzo,Casual Shoe for Men Sneakers For Men (Black),₹499,75% off
3,Magnolia,Stylish & Trendy Sneakers For Men (Blue),₹398,60% off
4,Numenzo,9019 Sneakers For Men (White),₹479,63% off
...,...,...,...,...
95,Jabra,Men's Ultraforce Mid-top Athletic-Inspired Ret...,₹259,48% off
96,NBL Sports,STI-1 casual shoes for men | Latest & Trending...,₹299,70% off
97,HOC,Sneakers For Men (White),₹429,78% off
98,PUMA,Perfect Sports Shoes for Running Training Hiki...,"₹3,359",58% off
99,U.S. POLO ASSN.,Combo pack of 2 casual sneaker shoes for men S...,"₹2,199",45% off

Q7: Go to the link - https://www.myntra.com/shoes 
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe 
description, price of the shoe as shown in the below image.

In [12]:
driver=webdriver.Chrome(r"C:/Users/91976/Downloads/chromedriver_win32/chromedriver") 
time.sleep(3)

url = "https://www.myntra.com/shoes%22"
driver.get(url)

time.sleep(2)
#clicking on price filter
price_button = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_button.click()


#clicking on black colour
black_button = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
black_button.click()

<ipython-input-12-71b76d68d971>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:/Users/91976/Downloads/chromedriver_win32/chromedriver")
<ipython-input-12-71b76d68d971>:9: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  price_button = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
<ipython-input-12-71b76d68d971>:14: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  black_button = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")

In [13]:
#creating empty lists
shoe_names=[]
s_desc=[]
short_desc=[]
price=[]
page_urls = []

time.sleep(4)
# scrape next pages urls
nxt_page = driver.find_elements_by_xpath("//ul[@class='pagination-container']/li/a")
for i in nxt_page:
    page_urls.append(i.get_attribute('href'))
    

for url in page_urls[:3]:
    driver.get(url)
    Names=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")  #for scrapping shoe brand names
    for i in Names:
        shoe_names.append(i.text)
    
    desc=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4") #for scrapping shoe short-description
    for i in desc:
        s_desc.append(i.text)
    #As, the s_desc list contain blank description in every alternate index, so removing the blank or null description
    for j in range(0,len(s_desc),2):
        short_desc.append(s_desc[j])
    
    rs=driver.find_elements_by_xpath("//div[@class='product-price']")  #for scrapping shoe prices
    for i in rs:
        price.append(i.text)    
        
df=pd.DataFrame({'Brand': shoe_names[:100],'Short-description': short_desc[:100],'Price': price[:100]})
df

<ipython-input-13-bc7bf7012fd8>:10: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  nxt_page = driver.find_elements_by_xpath("//ul[@class='pagination-container']/li/a")
<ipython-input-13-bc7bf7012fd8>:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  Names=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")  #for scrapping shoe brand names
<ipython-input-13-bc7bf7012fd8>:21: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  desc=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4") #for scrapping shoe short-description
<ipython-input-13-bc7bf7012fd8>:28: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rs=driver.find_elements_by_xpath("//div[@class='product-price']")  #for scrapping shoe prices

,Brand,Short-description,Price
0,H&M,Chunky Combat Boots,Rs. 2699
1,ADIDAS,Men Woven Design Running Shoes,Rs. 2009Rs. 2999(33% OFF)
2,Eego Italy,Men Trekking Shoes,Rs. 899Rs. 2599(Rs. 1700 OFF)
3,Puma,Unisex Kent 2.0 IDP Sneakers,Rs. 1799Rs. 2999(40% OFF)
4,MENGLER,Men Walking Shoes,Rs. 724Rs. 2499(71% OFF)
...,...,...,...
95,Kalenji By Decathlon,Women Platform Chelsea Boots,Rs. 1597Rs. 1699(6% OFF)
96,Red Tape,Men Court Royale Sneakers,Rs. 2099Rs. 6999(70% OFF)
97,Sir Corbett,Men Running Shoes,Rs. 809Rs. 2699(70% OFF)
98,Puma,Women Heeled Boots,Rs. 3199Rs. 3999(20% OFF)
99,El Paso,Men Runesy Shoes,Rs. 1299Rs. 4799(Rs. 3500 OFF)

Q8: Go to webpage https://www.amazon.in/ 
Enter “Laptop” in the search field and then click the search icon. 
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image: 
    
    After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop: 
1. Title 
2. Ratings 
3. Price 
As shown in the below image as the tick marked attributes.

In [14]:
driver=webdriver.Chrome(r"C:/Users/91976/Downloads/chromedriver_win32/chromedriver") 
time.sleep(3)

url = "https://www.amazon.in/ref=nav_logo"
driver.get(url)


#creating the empty list
Title=[]
Ratings=[]
price=[]

time.sleep(2)
#locating the search bar
search_bar = driver.find_element_by_id("twotabsearchtextbox")    # Locating searc_bar by id
search_bar.clear()                                               # clearing search_bar
search_bar.send_keys("laptops")                                   # sending user input to search bar
search_button = driver.find_element_by_xpath('//span[@id="nav-search-submit-text"]')       # Locating search_button by xpath
search_button.click()    

time.sleep(2)
#locating the core i7 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break
        
        
#Scrapping Titles
titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in titles[:10]:
    Title.append(i.text)
    
    
#scrapping Price
prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in prices[:10]:
    price.append(i.text)

#locating Ratings
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")#collecting urls of all the laptop
UR=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))#getting the url of first 10 laptops
for url in UR:#loop for every laptop in the list
    driver.get(url)
    try:                  #exception handling for nosuchelementexception                                                    #click the rating link found
        rating=driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']//span")#locating the rating
        Ratings.append(rating.text)#appending the ratings in Ratings list
        
    except NoSuchElementException:
        Ratings.append("NO rating")#appending the No rating if no rating is there
        
#creating a dataframe
df=pd.DataFrame({'Title':Title,
                'Price':price,
                'Ratings':Ratings})
#printing dataframe
df

<ipython-input-14-92535f2ad7c5>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:/Users/91976/Downloads/chromedriver_win32/chromedriver")
<ipython-input-14-92535f2ad7c5>:15: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_bar = driver.find_element_by_id("twotabsearchtextbox")    # Locating searc_bar by id
<ipython-input-14-92535f2ad7c5>:18: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_button = driver.find_element_by_xpath('//span[@id="nav-search-submit-text"]')       # Locating search_button by xpath
<ipython-input-14-92535f2ad7c5>:23: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
<ipython-input-14-92535f2ad7c5>:31: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
<ipython-input-14-92535f2ad7c5>:37: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
<ipython-input-14-92535f2ad7c5>:42: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")#collecting urls of all the laptop
<ipython-input-14-92535f2ad7c5>:49: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  rating=driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']//span")#locating the rating

                                               Title     Price       Ratings
0  LG Gram 17 Ultra-Light Intel Evo 11th Gen Core...  1,06,057  4.4 out of 5
1  LG Gram 14 Ultralight Intel Evo 11th Gen Core ...    87,999  4.1 out of 5
2  HP Pavilion (2021) Intel 11th Gen Core i7 14 i...    84,990  4.3 out of 5
3  Mi Notebook Horizon Edition 14 Intel Core i7-1...    59,990  4.2 out of 5
4  Acer Nitro 5 11th Gen Intel Core i7-11800H 15....    85,911  3.8 out of 5
5  Lenovo Legion 5 11th Gen Intel Core i7 15.6"(3...  1,11,030  4.4 out of 5
6  HP Pavilion x360 11th Gen Intel Core i7 14-inc...    84,990  4.3 out of 5
7  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    85,990    4 out of 5
8  Microsoft Surface Laptop Studio - 14.4" Touchs...  3,73,999    4 out of 5
9  ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms)...  1,09,990  4.2 out of 5